.achievements {
	padding: 60px 0;
	margin: 50px 0;
	background-color: var(--color-secondary);
	
	@media (max-width: 768px) {
		margin: 40px 0;
	}
}
	
.achievements__content {
	display: flex;
	align-items: center;
	justify-content: space-between;
	
	@media (max-width: 1230px) {
		gap: 20px;
	}
	
	@media (max-width: 992px) {
		flex-direction: column;
		gap: 40px;
	}
	
	@media (max-width: 576px) {
		align-items: normal;
	}
}
	
.achievements__content-header p {
	color: var(--color-dark-gray);
}
	
@media (max-width: 992px) {
	.achievements__content-header {
		text-align: center;
	}
}
	
@media (max-width: 576px) {
	.achievements__content-header {
		text-align: left;
	}
}
	
.achievements__content-group {
	display: grid;
	grid-template-columns: 270px 270px;
	column-gap: 24px;
	row-gap: 40px;
	
	@media (max-width: 992px) {
		grid-template-columns: repeat(2, 1fr);
		column-gap: 60px;
	}
	
	@media (max-width: 576px) {
		grid-template-columns: 100%;
		column-gap: 0;
	}
}
	
.achievements__item {
	display: flex;
	align-items: center;
	gap: 16px;
}
	