.cta {
	background-color: var(--color-secondary);
	padding: 60px 0;
	margin-top: 50px;
	text-align: center;
	
	@media (max-width: 768px) {
		margin: 40px;
	}
}
	
.cta__title {
	margin-bottom: 32px;
}
	
.cta__button {
	display: flex;
	align-items: center;
	margin: 0 auto;
	gap: 8px;
}
	