.mobile-nav {
	display: none;
	position: fixed;
	width: 100%;
	background-color: var(--color-white);
	z-index: 1;
	box-shadow: 0 0 35px rgba(171, 190, 209, 0.2);
	
	@media (max-width: 992px) {
		display: block;
	}
}
	
.mobile-nav__wrap {
	background-color: var(--color-white);
}
	
.icon_menu-open {
	display: block;
}
	
.icon_menu-close {
	display: none;
}
	
.mobile-nav__header {
	padding: 14px 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
	
.mobile-nav__content {
	display: none;
	padding: 10px 0 32px;
}
	
.mobile-nav__content .nav-list {
	flex-direction: column;
	gap: 24px;
	align-items: center;
	margin-bottom: 24px;
	margin-top: 10px;
}
	
.mobile-nav__content .nav-buttons {
	flex-direction: column;
}
	
.mobile-nav__content .nav-buttons button {
	padding: 16px 20px;
}
	
.mobile-nav.opened {
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.3);
}
	
.mobile-nav.opened .mobile-nav__wrap {
	border-radius: 0 0 8px 8px;
}
	
.mobile-nav.opened .icon_menu-open {
	display: none;
}
	
.mobile-nav.opened .icon_menu-close {
	display: block;
}
	
.mobile-nav.opened .mobile-nav__content {
	display: block;
}