:root {
	--color-primary: #4CAF4F;
	--color-secondary: #F5F7FA;
	--color-text: #717171;
	--color-heading: #4D4D4D;
	--color-white: #FFFFFF;
	--color-black: #000000;
	--color-light-gray: #89939E;
	--color-dark-gray: #18191F;
	--color-footer-bg: #263238;
	--color-footer-text: #70768A;
	--color-footer-link: #FFFFFF;
	--color-footer-icon-bg: #3B464C;
}
